body,
html {
  margin: 0;
  /* background-color: #530a1a; */
  font-family: "Roboto", sans-serif;
  cursor: default;
  overflow-x: hidden;
  /* height: 100%; */
}

.App {
  background-color: #fffade;
}
/* 
header {
  display: flex;
  flex-direction: column;
  display: unset;
}
*/

a {
  text-decoration: none;
  background-color: none;
  color: white;
}


.pageContainer {
  width: 100vw;
}

/*   CARD   */

.cardCharName {
  margin-bottom: 0;
}
