body,
html {
  margin: 0;
  /* background-color: #530a1a; */
  font-family: "Roboto", sans-serif;
  cursor: default;
  /* height: 100%; */
}
/* 
header {
  display: flex;
  flex-direction: column;
  display: unset;
}

a {
  text-decoration: none;
  background-color: none;
  color: white;
}

::-webkit-scrollbar {
  width: 20px;
  cursor: pointer !important;
}

::-webkit-scrollbar-track {
  background: #530a1a;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  height: 90px;
  border: 1px solid black;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9e0c2b;
  cursor: pointer !important;
}
::-webkit-scrollbar-corner {
  color: #e5890a;
} */


.pageContainer {
  width: 100vw;
}