body {
  margin: 0;
}

header {
  display: flex;
}

.App {
  text-align: center;
  /* background-color: #162f36; */
  background-color: #e5890a;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  max-width: 30%;
  margin: 1rem auto 0 auto;
  padding: 1rem;
  color: #f7d08a;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.cardBox {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.cardBox > div {
  flex-basis: calc(20% - 40px);
}

.uniCard {
  color: #f7d08a;
  background-color: #9d5c0d;
  min-width: 15rem;
  /* border: 1px solid #2b200d; */
  border-radius: 12px;
  margin: 1rem;
  box-shadow: 10px 10px;
}

.cardCharImage {
  padding: 1rem;
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 100%;
}

.cardCharName {
  font-size: 120%;
  margin-bottom: 0px;
  padding: 0px 0.5rem;
  max-height: 32px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
.cardDesc {
  font-size: 1.1rem;
  padding: 0 0.5rem 1.5rem;
  box-shadow: 0px -24px 3px -24px #f7d08a;
}

.cardDesc > p {
  margin: 0.1rem;
  /* border: 1px solid black;
  border-radius: 10px 100px / 120px; */
}

@media screen and (max-width: 1180px) {
  h1 {
    max-width: 40%;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    max-width: 70%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
